.grid-container {
    gap: 10px;
    padding: 10px;
  }
  /* STEP THREE - PLACE ITEMS ON THE GRID */ 
  .header {
    background: #ccc;
    padding: 1em;
  }
  
  .sidebar {
    background: #f4a;
    padding: 1em;
  }
  
  .main {
    background: #afa;
    padding: 1em;
  }
  
  .footer {
    background: #aaa;
    padding: 1em;
  }

  @media (max-width: 600px) {

  }
