/* Step 1: Define color variables using hex values or rgb values */
/*:root { 
    /* 1a -  a primary color */
    /* 1b -  a secondary color */
    /* 1c -  a text color */
    /* 1d - the background color for the card */
/*}*/ 

/* Step 2: Style the card */
body {
    /* set background-color to the theme primary color */ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.profile-card {
    /* 2a - add a background color using var( )  */
    /* 2b - add a background image */
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    /* 2c - define the text color using  var( )*/
    /* 2d - add a box shadow using rgba */ 
  }
  
  /* Step 3: Add styles for the image and text */
    .avatar {
        border-radius: 50%;
        /*3a - set the border to 3px solid & secondary color */
        /* border: */
        width: 100px;
        height: 100px;
    }

    .bio {
        /* 3b -  set colour to secondary color */
        /*color:*/
    }