/* FORM STYLES */
/* 1. The Good */

/* the form */

form {
    margin: 0 auto; 
    padding-top: 1.5em; 
    background-color: #f5f5f5; 
    padding: 1.5em 2em 2em 2em; 
    width: 100%; 
}


/* making sure the form is using the correct font with inherit */ 
button, 
input, 
select, 
textarea {
    font-family: inherit; 
    color: #333; 
}

/* styling fieldsets & legends */
fieldset {
    border: none; 
    padding-bottom: 20px; 
}

legend {
    background-color: #333; 
    color: #fff; 
    font-size: 1.8rem; 
    padding: 1em; 
    margin-bottom: 1.6em; 
}

/* styling inputs and labels */

input {
    border:none; 
    height: 4rem; 
    margin-bottom: 1.5rem; 
    border-radius: 5px; 
    display:block;
    width: 100%; 
    padding-left: 1rem; 
    font-size: 1.6rem;  
}

label, 
p {
    display: block; 
    margin-bottom: 1.5rem; 
}


/* two column format */ 


/* styling textfields */ 

textarea {
    display: block; 
    border: none; 
    border-radius: 5px; 
    padding: 1rem; 
    width: 100%; 
    overflow: auto; 
    resize: none; 
    margin-bottom: 2rem; 
    font-size: 1.6rem; 
}


/* submit button */ 

input[type="submit"] {
    width: 25%; 
    margin: 0 auto; 
    background-color: #BADA55; 
    color: #333; 
    height: 5rem; 
    text-align:center; 
    padding-left: 0; 
}


/* 2. The Bad */ 

/* placeholders*/ 

input::placeholder {
    color: #272b2e; 
    font-size: 1.6rem; 
    opacity: 1; 
}



/* The Ugly * / 

/* datepicker */ 

/*check out the default datepicker in multiple browsers. What do you notice? 

we don't have any access to style the datepicker calendar/components - so often need to use a js library to help us out - in this case we've used https://www.daterangepicker.com/ -->

/* for datepicker placeholder text in safari */ 
