/* Styling Lists */
/* different types of lists - unordered, ordered and description lists - all have styling features that are similar as well as some styling features that are particular to themselves */

/* 1.) DEFAULT STYLES
- ul and ol have a top and bottom margin of 16px and a padding of left 40px
- list items have no set defaults for spacing 
- dl element has a top and bottom margin of 16px (1em) but no padding set 
- the dd element has a margin-left of 40px (2.5em) 
- the p elements included for reference have a top and bottom margin of 16px or 1em 
*/

/* Handling List Spacing 
notes: adjust list styles so they keep the same vertical spacing (r)hythym) as their surrounding elements (i.e. paragraphs and images) and the same horizontal spacing as each other 
*/

/* set font sizes for different lists types (the children of the list elments inherit these). Each paragraph and list will have the same font-size and top and bottom spacing, helping to keep the vertical rhythm consistent*/
ul,
ol,
dl {
    font-size: 18px;
}

/* sets the same line height for the list items as the paragraphs - paragraphs and each indivdiual list item will have the same spacing betwen lines - this will also help to keep vertical rhythym consistent */

li,
dd, 
dt {
    line-height: 28px;
}

/* make the description terms bold so they visually stand out easier */

dt {
    font-weight: 500; 
}

/**********************/
/* 2. List Specific Styles 

list-style-type: Sets the type of bullets to use for the list, for example, square or circle bullets for an unordered list, or numbers, letters, or roman numerals for an ordered list.

list-style-position: Sets whether the bullets, at the start of each item, appear inside or outside the lists.

list-style-image: Allows you to use a custom image for the bullet, rather than a simple square or circle.

*/

/* Bullet styles */

ol {
    list-style-type: lower-alpha;
}

/* Bullet Positon */
/* whether the bullets appear inside the list items or outside them before the start of each item. Default value is outside */

ol,
ul {
    list-style-position: inside;
}

/* Custom Bullet Image */
/* png source : https://www.flaticon.com/free-icon/teaspoon_2156 */

main ul {
    list-style-image: url(../assets/teaspoon.png);

}

/* this is limited in terms of controlling the position, size, of the bullets - better off using background family of properties */

/**********************/

/* List-Style Shorthand 
three properties mentioned above can be set using a single shorthand property - list style */

main ul {
    list-style: square;
    list-style-image: url(../assets/teaspoon.png);
    list-style-position: inside;

}
/* becomes */

main ul {
    list-style: square url(../assets/teaspoon.png) inside; 
}

/* values can be listed in any order and you can use one, two, or all three. If both a type and an image is specified, the type is used as a fallback if the image can not be loaded for some reason */
/**********************/

/* Controlling List Counting */ 
/* you may want to coun different on an ordered list 
start attribute, reversed attribute, value attribute, 
* 