* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Comic Neue', cursive;
}

.wrapper {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  background-color: #8bd3dd;
  padding: 1em; 
}

aside {
  background-color: #f3d2c1;
  padding: 1em; 
}

/* Media queries usesthe @media rule to include a block of CSS properties only if a certain condition is true.*/

/* media queries using pixels */

/* media queries using ems */


