.grid-container {
  /* STEP 1 - define our grid */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header ."
    "sidebar main"
    "footer footer";
  gap: 10px;
  padding: 10px;
}
/* STEP THREE - PLACE ITEMS ON THE GRID */ 
.header {
  background: #ccc;
  padding: 1em;
  grid-area: header;
}

.sidebar {
  background: #f4a;
  padding: 1em;
  grid-area: sidebar;
}

.main {
  background: #afa;
  padding: 1em;
  grid-area: main;
}

.footer {
  background: #aaa;
  padding: 1em;
  grid-area: footer;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main"
      "sidebar"
      "footer";
  }
}
