body {
    width: 70%;
    min-height:2300px;  
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/*style the dt - we add position: sticky to the <dt> element, along with a top value of 0, supporting browsers will stick the headings to the top of the viewport as they reach that position. */ 

