/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Lato:wght@300&display=swap');

/* General Styles & Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
}

.container>div {
    border-radius: 5px;
    padding: 10px;
    background-color: #57C4E5;
    border: 2px solid #D1D646;
}

.ex1,
.ex2 {
    padding-bottom: 2em;
    border-bottom: 2px solid #333;
}

p {
    margin-bottom: 1em;
}

.ex2 {
    margin-top: 2em;
}

.ex2 header {
    background-color: #F19143
}

.ex2 aside {
    background-color: #F55536;
}

.ex2 main {
    background-color: #FFB238
}

.ex2 footer {
    background-color: #FABC3C;
}


.ex3 div div:nth-of-type(1) {
    background-color: #29335C;
}

.ex3 div div:nth-of-type(2) {
    background-color: #F3A712;
}

.ex3 div div:nth-of-type(3) {
    background-color: #E4572E;
}

.ex3 div div:nth-of-type(4) {
    background-color: #A8C686;
}

.imgcontainer {
  max-width: 40vw; 
  margin: 0 auto; 
}

.imgcontainer img {
    max-width: 100%; 
}

/* Typography */

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    line-height: 1.8;
    font-family:sans-serif;

}

h1 {
    font-family: 'Climate Crisis', cursive;
    letter-spacing: 0.5rem;
    padding-top: 1em;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 3rem;
    padding-bottom: 0.5em;
}

p {
    padding: 1em; 
}

/* GRID STUFF STARTS HERE */


/************* Example One - Defining Your Grid ****************/


/*********** Example 2 - Placing Items on the Grid  **************************/


/*********** Example 3 - Alignment with CSS Grid **************************/

/* Try It - Recreate the layout shown by placing the items on the grid */



/********** Example 4 - Subgrid  ************************/



/* example adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids */