/* General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5% /* equivalent to 10px, makes the math easier! */ 
}

/* Layout */

.container {
    background-color: #eaeaea;
    min-height: 100vh;
    padding-bottom: 100px;
}

article {
    padding: 3rem;
    width: 65%; 
    background-color: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}


/* -------WARM UP CHALLENGE - START HERE ------*/ 

/*1.  alter the image using the filter property, altered image should only appear when the user hovers on the image */
article img {
    float: left;
    padding-right: 3rem;
    max-height: 400px;
    max-width: 100%;
    filter: sepia(100%);
}
article img:hover {
    filter: sepia(0%);
}

/* 2.  create a "sticky footer" (always at the bottom of the viewport*/
footer {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: bisque;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* 3.  style the navigation links */
header nav {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    background-color: bisque;
}
header nav a {
    color: #333;
}
header nav a:hover {
    color: blue;
}

/* her code */

nav a:link {
    color: #565656;
    text-decoration: none;
    margin-right: 2em;
}
nav a:visited {
    color: #71503a;
}
nav a:focus {
    border: 1px dotted #71503a;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    border: 1px dotted #f5f5dc;
}

/*
---------Web Typography------------ 
The art and technique of arranging type to make written language legible, readable and appealing when displayed.
*/

/* STEP ONE -  set font size, line-height, line-length (max-width) */ 
h1 {
    font-size: 6rem;
    line-height: 1.5;
    color: #fe6493;
    text-align: center;
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
h2 {
    font-size: 5rem;
    text-align: right;
    color: #f6839f;
}
h3 {
    font-size: 4rem;
}
h4 {
    font-size: 3.5rem;
}
h5 {
    font-size: 3rem;
}
h6{
    font-size: 2.5rem;
}
p, figcaption {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-top: 2rem;
    max-width: 80ch;
}
figcaption {
    text-align: right;
    font-weight: bold;
}
p {
    text-indent: 2rem;
}
blockquote p {
    font-size: 2.5rem;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
}



/*STEP TWO - USING CUSTOM WEB FONTS */ 

/*locally-hosted fonts*/
/* this should typically be at the beginning of the stylesheet in case of reference */ 
@font-face {
    font-family: 'pt_sansbold';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff2') format('woff2'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* externally hosted web fonts - ie. Google fonts  */
/* then to style with this font */
p {
    font-family: 'pt_sansbold', sans-serif;
}


/** STEP THREE - LET'S MAKE IT RESPONSIVE **/ 

/* responsive topography */
/* make the text responsive to web browser size */
h1 {
    font-size: clamp(3rem, 5vw, 8rem); /* min, actual, max*/
    /* this makes it scale between 32px and 64px */
}
h2 {
    font-size: clamp(2.75rem, 4.5vw, 7rem);
}
p, figcaption {
    font-size: clamp(1.75rem, 2.5vw, 4.5rem);
}