/* General Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5% /* equivalent to 10px, makes the math easier! */ 
}

/* Layout */

.container {
    background-color: #eaeaea;
    min-height: 100vh;
    padding-bottom: 100px;
}

article {
    padding: 3rem;
    width: 65%; 
    background-color: #F5F5DC;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}


/* -------WARM UP CHALLENGE - START HERE ------*/ 

/*1.  alter the image using the filter property, altered image should only appear when the user hovers on the image */
article img {
    float: left;
    padding-right: 3rem;
    max-height: 400px;
    max-width: 100%;
    filter: sepia(100%);
}

article img:hover {
    filter: sepia(0%);
}


/* 2.  create a "sticky footer" (always at the bottom of the viewport*/

footer {
    position: sticky;
    bottom: 0;
}


/* 3.  style the navigation links */

nav a:link {
    color: #565656;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 2em 0;
    margin-right: 2em;
}

nav a:visited {
    color: #71503A;
}

nav a:focus {
    border: 1px dotted #71503A;
}

nav a:hover {
    text-decoration: underline;
}


nav a:active {
    border: 1px dotted #F5F5DC;

}


/*---------Web Typography------------ */

/* STEP ONE -  set font size, line-height, line-length */ 

h1 {
    font-size: 6rem;
    color: #472A28;  
}

h2 {
    font-size: 4.5rem; 
    color: #A3795B; 
}

h3 {
    font-size: 4rem; 
}

h4 {
    font-size: 3.5rem; 
}

h5 {
    font-size: 3rem; 
}

h6 {
    font-size: 2.5rem; 
}

p, 
figcaption {
    font-size: 1.8rem; 
    line-height: 1.5;
    margin-top: 2rem; 
    max-width: 80ch;  
}

figcaption {
    text-align:right; 
    font-weight: bold; 
}

p {
    text-indent: 2rem; 
}

blockquote p {
    font-size: 2.5rem; 
    max-width: 70vw;
    margin-left: auto; 
    margin-right: auto; 
    padding: 1rem 0; 
    letter-spacing: 0.10rem;  
}


/*STEP TWO - USING CUSTOM WEB FONTS */ 


/*locally-hosted fonts*/
/* this should typically be at the beginning of the stylesheet */ 


/* externally hosted web fonts - ie. Google fonts  */


/** STEP THREE - LET'S MAKE IT RESPONSIVE **/ 

