.wrapper {
    width: 100%; 
    margin: 0 auto; 
}

article {
    column-count: 3; 
    /* can't change the individual sizes of the columns this way */
    column-gap: 50;
    column-rule: thick inset blue;
}

h2 {
    column-span: all;
}