<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="multicolumn.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <article>
            <h2>Header spanning all of the columns</h2>
            <p>
              The h2 should span all the columns. The rest of the text should be
              distributed among the columns.
            </p>
            <p>
              This is a bunch of text split into three columns using the CSS `columns`
              property. The text is equally distributed over the columns.
            </p>
            <p>
              This is a bunch of text split into three columns using the CSS `columns`
              property. The text is equally distributed over the columns.
            </p>
            <p>
              This is a bunch of text split into three columns using the CSS `columns`
              property. The text is equally distributed over the columns.
            </p>
            <p>
              This is a bunch of text split into three columns using the CSS `columns`
              property. The text is equally distributed over the columns.
            </p>
          </article>
    </div><!--end wrapper-->
</body>

</html>